![INF_AM_LOGO.jpg]()

## Importeren van de benodigdheden

### Python packages

In [68]:
import os
import json
import pandas as pd

### Working directory veranderen
Voor het actueel houden van de paden de resource documenten en/of data bestanden wordt de working directory van deze code veranderd zodat deze gelijk is aan de rootfolder van de github repository.

In [2]:
while 1:
    if os.getcwd().endswith('storingsanalyse-generator'):
        break 
    else:
        os.chdir('..')
        
print(f'New working directory = {os.getcwd()}')

New working directory = C:\Users\NBais\OneDrive - TBI Holding\Documenten\GitHub\storingsanalyse-generator

### Importeren van ondersteunende DataFrames

In [71]:
#tabel inlezen
rel_path = f'res\\location_description_map.json'
with open(rel_path, 'r') as r:
    description_data = json.load(r)

# Df for the connection between the sbs/lbs numbers and their description
description_df = pd.DataFrame(description_data)

### Defninieren van de functies

#### get_breakdown_description()

Deze functie doorzoekt het ondersteunende df 'description_df' op het ingevoerde SBS of LBS nummer en geeft de omschrijving als resultaat.

In [73]:
def get_breakdown_description(sbs_lbs):
    global description_df
    description = [description_df.loc[str(index), 'description']
                   for index in range(description_df.shape[0])
                   if sbs_lbs == description_df.loc[str(index), 'location']]
    return description if len(description) > 0 else [""]  # To cover empty rows

## Importeren van de staging_file

In [3]:
sf_path = 'src/staging file/staging_file.xlsx'
sf_data = pd.read_excel(sf_path)
sf_data.head()

,werkorder,status,rapport datum,month_number,werkorder beschrijving,asset nummer,asset beschrijving,sbs,sbs omschrijving,locatie,...,werkelijke start,tijdstip einde werkzaamheden,tijdstip afmelding,tijdstip validatie,funcitoneel herstel,definitief herstel,is financieel nadeel,gmblocation3,gemeld asset,vestiging
0,1178992,SLUIT,04-01-18 15:28:00,1,"D3830570 A10, , hm-paal 32,410. P rijstrook 1 ...",NaN,NaN,NaN,NaN,NaN,...,NaN,08-01-18 14:42:00,NaN,NaN,NaN,NaN,True,NaN,NaN,CT1EN2
1,1178993,SLUIT,06-01-18 00:32:00,1,D3830580 Coentunnel Intercom instalaltie koppe...,NaN,NaN,NaN,NaN,NaN,...,NaN,06-01-18 11:23:00,NaN,NaN,NaN,NaN,False,NaN,NaN,CT1EN2
2,1178994,SLUIT,06-01-18 20:18:00,1,D3830595 Coentunnel Overdruk pompruimte en kel...,NaN,NaN,NaN,NaN,NaN,...,NaN,08-01-18 14:46:00,NaN,NaN,NaN,NaN,False,NaN,NaN,CT1EN2
3,1178995,SLUIT,07-01-18 07:50:00,1,"D3830605 A10 . Westbuis, pompkelder. Er is gee...",NaN,NaN,NaN,NaN,NaN,...,NaN,08-01-18 14:44:00,NaN,NaN,NaN,NaN,False,NaN,NaN,CT1EN2
4,1180768,SLUIT,08-01-18 17:10:00,1,D3830630 Afsluitboom Noord Rechts is niet besc...,C1279,"A10 AB 30,670n BBL (AK) - Afsluitboomkast (boo...",45-02,(AB CT1-N-02A/02B) CT1-W2 hoofdrijbaan,NaN,...,NaN,08-01-18 17:36:00,NaN,NaN,NaN,NaN,False,NaN,NaN,CT1EN2

### Aanpassen van de staging_file -- DEZE STAP WORDT VERWIJDERD IN DE TOEKOMST
Het opbouwen van deze automatische storingsanalyse vraagt om een ingevulde kolom 'type melding'. Om het process van opbouwen niet te laten stagneren op dit aspect, wordt er hieronder fictive data gegenereerd. Met behulp van de fictieve data wordt het genereren van de verschillende tabellen en grafieken gebouwd.

In [15]:
from random import randrange

lijst_opties = ['Storing', 'Incident', 'Preventief', 'Onterecht']

random_ranges = [lijst_opties[randrange(0, 4, 1)] for _ in range(len(sf_data['type melding (Storing/Incident/Preventief/Onterecht)']))]

print(len(random_ranges) == len(sf_data['type melding (Storing/Incident/Preventief/Onterecht)']))

random_ranges[:10]

True

['Storing',
 'Incident',
 'Onterecht',
 'Storing',
 'Storing',
 'Preventief',
 'Incident',
 'Storing',
 'Preventief',
 'Incident']

In [130]:
import numpy as np
lijst_opties = ['P01', 'P02', 'P03', 'P04', 'P05', 'P06', 'P07', 'P08', 'P09', 'P10', 'P11', np.nan]

random_ranges = [lijst_opties[randrange(0, len(lijst_opties), 1)] for _ in range(len(sf_data['probleemcode']))]

print(len(random_ranges) == len(sf_data['probleemcode']))

sf_data.loc[:, 'probleemcode'] = random_ranges

random_ranges[:10]

True

[nan, nan, 'P08', 'P10', 'P05', 'P04', 'P01', 'P03', 'P10', 'P10']

In [132]:
lijst_opties = ['C01', 'C02', 'C03', 'C04', 'C05', 'C06', 'C07', 'C08', 'C09', 
                'C10', 'C11', 'C12', 'C13', 'C14', 'C15', 'C16', np.nan]

random_ranges = [lijst_opties[randrange(0, len(lijst_opties), 1)] for _ in range(len(sf_data['oorzaak code']))]

print(len(random_ranges) == len(sf_data['oorzaak code']))

sf_data.loc[:, 'oorzaak code'] = random_ranges

random_ranges[:10]

True

['C01', 'C15', 'C08', 'C06', 'C09', 'C12', 'C03', 'C03', 'C16', 'C03']

In [133]:
lijst_opties = ['S01', 'S02', 'S03', 'S04', 'S05', 'S06', 'S07', 'S08', np.nan]

random_ranges = [lijst_opties[randrange(0, len(lijst_opties), 1)] for _ in range(len(sf_data['oplos code']))]

print(len(random_ranges) == len(sf_data['oplos code']))

sf_data.loc[:, 'oplos code'] = random_ranges

random_ranges[:10]

True

['S01', 'S04', 'S08', 'S08', 'S07', 'S07', 'S01', 'S01', 'S03', 'S08']

In [141]:
sf_data.iloc[:5, 15:25]

,locatie 2,locatie 2 omschrijving,probleemcode,beschrijving probleem,oorzaak code,beschrijving oorzaak,oplos code,oplossing beschrijving,uitgevoerde werkzaamheden,type melding (Storing/Incident/Preventief/Onterecht)
0,NaN,NaN,NaN,Lussen vermoedelijk vekeerd om aangesloten,C01,Davinci,S01,NaN,Storing ontvangen op 4 januari 2018 om 15:28 g...,Preventief
1,NaN,NaN,NaN,Intercom installatie niet beschikbaar,C15,NaN,S04,NaN,Storing ontvangen op 6 januari 2018 om 0:23 ge...,Onterecht
2,NaN,NaN,P08,Overdruk ruimte pompkelder niet aanwezig,C08,Vorst bewaking,S08,NaN,Storing ontvangen op 6 juniari 2018 om 20:18 g...,Incident
3,NaN,NaN,P10,Geen overdruk aanwezig pompkelders CT1,C06,NaN,S08,NaN,Storing ontvangen op 7 januari 2018 om 7:50 ge...,Storing
4,NaN,NaN,P05,Afsluitboom Noord W2 rechts melding niet besch...,C09,NaN,S07,NaN,Storing ontvangen op 8 januari 2018 om 17:10 g...,Storing

# Analyse

## Aantal meldingen per maand

Variablelen die opgehaald moeten worden
•   Het totaal aantal meldingen in 2020
•	Het gemiddelde aantal meldingen per maand
•	Hoogste aantal meldingen in de maand [maand]
•	Laagste aantal meldingen in de maanden [maand]
•	Het gemiddelde aantal meldingen per maand vanaf 2016

In [40]:
totaal_aantal_meldingen = len(sf_data.index)
print(f'Het totaal aantal meldingen in 2020: {totaal_aantal_meldingen} meldingen')

Het totaal aantal meldingen in 2020: 99 meldingen

In [25]:
meldingen_per_maand = sf_data['month_number'].value_counts()
meldingen_per_maand

2    45
1    30
3    24
Name: month_number, dtype: int64

In [41]:
gemiddelde_per_maand = sum(meldingen_per_maand) / len(meldingen_per_maand)
print(f'Het gemiddelde aantal meldingen per maand: {gemiddelde_per_maand} meldingen')

Het gemiddelde aantal meldingen per maand: 33.0 meldingen

In [42]:
num_maand_meeste_meldingen = [meldingen_per_maand.index[meldingen_per_maand == max(meldingen_per_maand)][0]]
print(f'Hoogste aantal meldingen in de maand [met nummer] {num_maand_meeste_meldingen[0]}') if len(num_maand_meeste_meldingen) == 1 else print(f'Hoogste aantal meldingen in de maanden [met nummer] {num_maand_meeste_meldingen}')

Hoogste aantal meldingen in de maand [met nummer] 2

In [43]:
num_maand_min_meldingen = [meldingen_per_maand.index[meldingen_per_maand == min(meldingen_per_maand)][0]]
print(f'Laagste aantal meldingen in de maand [met nummer] {num_maand_min_meldingen[0]}') if len(num_maand_min_meldingen) == 1 else print(f'Laagste aantal meldingen in de maanden [met nummer] {num_maand_min_meldingen}')

Laagste aantal meldingen in de maand [met nummer] 3

**De dataset storingen_df is niet toereikend genoeg om het gemiddelde aantal meldingen per maand sinds de start van het project te geven. Ook beschikt de dataset niet over de data voor het opstellen van de TOV-tabel (Ten Opzichte Van-tabel)**

## Aantal meldingen per deelinstallatie

Variabelen die opgehaald moeten worden:

|naam DI|aantal meldingen|% van totaal aantal meldingen|
|-------|----------------|-----------------------------|

De X meldingen van 2020 zijn onder te verdelen in X_storing storingen, X_onterecht onterechte meldingen, X_preventief preventief onderhoud / modificatie en X_incident incidenten. waarbij X_ een subsectie is van X, met X = totaal_aantal_meldingen.

In [80]:
meldingen_per_di = sf_data['sbs'].value_counts()  # value_counts(dropna=False) geeft ook NaN + count in df (default True)
meldingen_per_di

41-26          4
46A-08         4
45-10          2
43-05          2
67-03          2
45-12          2
45-02          2
74-03          1
74-07          1
41-07          1
21-01          1
45-05          1
74-01          1
47A-13         1
61-02          1
51 EN 53-06    1
23-17          1
74-05          1
45-13          1
46B-04         1
61-11          1
71-23          1
41-18          1
84-15          1
62-16          1
86-22          1
63-12          1
45-04          1
46A-07         1
41-17          1
45-08          1
71-01          1
Name: sbs, dtype: int64

In [78]:
aantal_meldingen_zonder_di = totaal_aantal_meldingen - (sum(meldingen_per_di))
aantal_meldingen_zonder_di

56

In [77]:
for index, value in meldingen_per_di.iteritems():
    percentage_melding = round((value / sum(meldingen_per_maand)) * 100, 4)
    print('-'*40)
    print(f"{get_breakdown_description(index)[0]}\t- {value} meldingen ({percentage_melding}% van het totale aantal meldingen)")

----------------------------------------
MTM CT1-W2	- 4 meldingen (4.0404% van het totale aantal meldingen)
----------------------------------------
(CADO CT2-Z-01) A10 29.280 BBR	- 4 meldingen (4.0404% van het totale aantal meldingen)
----------------------------------------
(AB CT2-N-04) A08 Tidal flow 1	- 2 meldingen (2.0202% van het totale aantal meldingen)
----------------------------------------
SOS/SDS CT2-O2	- 2 meldingen (2.0202% van het totale aantal meldingen)
----------------------------------------
Geluidsbakeninstallatie CT2-O2 MTK dienstgang	- 2 meldingen (2.0202% van het totale aantal meldingen)
----------------------------------------
(AB CT2-N-06) A08 Tidal flow 2	- 2 meldingen (2.0202% van het totale aantal meldingen)
----------------------------------------
(AB CT1-N-02A/02B) CT1-W2 hoofdrijbaan	- 2 meldingen (2.0202% van het totale aantal meldingen)
----------------------------------------
Brandmeldinstallatie dienstengebouwen CT2 MTK dienstgang	- 1 meldingen (1.0101% van het totale aantal meldingen)
----------------------------------------
Brandmeldinstallatie dienstengebouwen CT1 MTK vluchtgang	- 1 meldingen (1.0101% van het totale aantal meldingen)
----------------------------------------
MTM VTTI station 3	- 1 meldingen (1.0101% van het totale aantal meldingen)
----------------------------------------
Tunnelverlichting CT2-O1	- 1 meldingen (1.0101% van het totale aantal meldingen)
----------------------------------------
(AB CT1-N-05) Dienstweg dienstgebouwen Coentunnel Circuit	- 1 meldingen (1.0101% van het totale aantal meldingen)
----------------------------------------
Brandmeldinstallatie dienstengebouwen DG-N	- 1 meldingen (1.0101% van het totale aantal meldingen)
----------------------------------------
Rotatiepaneel 14-1 A08 2.151 HRL3 en 4 en 5	- 1 meldingen (1.0101% van het totale aantal meldingen)
----------------------------------------
CCTV CT2-O1	- 1 meldingen (1.0101% van het totale aantal meldingen)
----------------------------------------
Brandblusinstallatie tunnel en hulpposten EG	- 1 meldingen (1.0101% van het totale aantal meldingen)
----------------------------------------
Openbare verlichting VTTI station 17	- 1 meldingen (1.0101% van het totale aantal meldingen)
----------------------------------------
Brandmeldinstallatie dienstengebouwen DG-Z	- 1 meldingen (1.0101% van het totale aantal meldingen)
----------------------------------------
(AB CT2-Z-01) A10 Tidal flow 1	- 1 meldingen (1.0101% van het totale aantal meldingen)
----------------------------------------
(VEVA CT2-Z-02) A10 28.500 MBR (Tidal flow zuid)	- 1 meldingen (1.0101% van het totale aantal meldingen)
----------------------------------------
CCTV VTTI station 4	- 1 meldingen (1.0101% van het totale aantal meldingen)
----------------------------------------
Klimaatinstallatie VG-Z	- 1 meldingen (1.0101% van het totale aantal meldingen)
----------------------------------------
MTM VTTI station 13	- 1 meldingen (1.0101% van het totale aantal meldingen)
----------------------------------------
Intern transmissienetwerk VTTI station 10B	- 1 meldingen (1.0101% van het totale aantal meldingen)
----------------------------------------
Hoogfrequent installatie (HF-Systeem) EG	- 1 meldingen (1.0101% van het totale aantal meldingen)
----------------------------------------
Besturingssysteem VG-N	- 1 meldingen (1.0101% van het totale aantal meldingen)
----------------------------------------
Telefoon en intercominstallatie VTTI station 9	- 1 meldingen (1.0101% van het totale aantal meldingen)
----------------------------------------
(AB CT1-N-04) Busbaan oprit A10	- 1 meldingen (1.0101% van het totale aantal meldingen)
----------------------------------------
(CADO CT2-N-03) A10 30.620 z MB	- 1 meldingen (1.0101% van het totale aantal meldingen)
----------------------------------------
MTM VTTI station 12	- 1 meldingen (1.0101% van het totale aantal meldingen)
----------------------------------------
(AB CT2-N-02) Dienstweg dienstgebouwen Meteorenweg	- 1 meldingen (1.0101% van het totale aantal meldingen)
----------------------------------------
Klimaatinstallatie DG-N	- 1 meldingen (1.0101% van het totale aantal meldingen)

In [99]:
meldingen_per_type = sf_data['type melding (Storing/Incident/Preventief/Onterecht)'].value_counts()
print(f'Van de {totaal_aantal_meldingen} meldingen hebben {meldingen_per_type[0]} meldingen de categorie {meldingen_per_type.index[0]}, hebben {meldingen_per_type[1]} meldingen de categorie {meldingen_per_type.index[1]}, hebben {meldingen_per_type[2]} meldingen de categorie {meldingen_per_type.index[2]}, en hebben {meldingen_per_type[3]} meldingen de categorie {meldingen_per_type.index[3]}.')

Van de 99 meldingen hebben 29 meldingen de categorie Storing, hebben 26 meldingen de categorie Incident, hebben 24 meldingen de categorie Onterecht, en hebben 20 meldingen de categorie Preventief.

## Aantal storingen per maand

Variablelen die opgehaald moeten worden
•   Het totaal aantal storingen in 2020
•	Het gemiddelde aantal storingen per maand
•	Hoogste aantal storingen in de maand [maand]
•	Laagste aantal storingen in de maanden [maand]
•	Het gemiddelde aantal meldingen per maand vanaf 2016

In [102]:
storingen_df = sf_data[sf_data['type melding (Storing/Incident/Preventief/Onterecht)'] == 'Storing']
storingen_df

,werkorder,status,rapport datum,month_number,werkorder beschrijving,asset nummer,asset beschrijving,sbs,sbs omschrijving,locatie,...,werkelijke start,tijdstip einde werkzaamheden,tijdstip afmelding,tijdstip validatie,funcitoneel herstel,definitief herstel,is financieel nadeel,gmblocation3,gemeld asset,vestiging
3,1178995,SLUIT,07-01-18 07:50:00,1,"D3830605 A10 . Westbuis, pompkelder. Er is gee...",NaN,NaN,NaN,NaN,NaN,...,NaN,08-01-18 14:44:00,NaN,NaN,NaN,NaN,False,NaN,NaN,CT1EN2
4,1180768,SLUIT,08-01-18 17:10:00,1,D3830630 Afsluitboom Noord Rechts is niet besc...,C1279,"A10 AB 30,670n BBL (AK) - Afsluitboomkast (boo...",45-02,(AB CT1-N-02A/02B) CT1-W2 hoofdrijbaan,NaN,...,NaN,08-01-18 17:36:00,NaN,NaN,NaN,NaN,False,NaN,NaN,CT1EN2
5,1181891,SLUIT,08-01-18 11:58:00,1,Eigen constatering Redudante Atoom klok defect,C7088,86W5002 - Systeemkast ventilatiegebouw noord,86-22,Besturingssysteem VG-N,1123.0,...,NaN,08-01-18 15:00:00,NaN,NaN,NaN,NaN,False,NaN,NaN,CT1EN2
6,1186309,SLUIT,12-01-18 04:10:00,1,D3830640 Betreft : aantal intercom- en telefoo...,NaN,NaN,NaN,NaN,NaN,...,NaN,12-01-18 06:26:00,NaN,NaN,NaN,NaN,False,NaN,NaN,CT1EN2
7,1186310,SLUIT,12-01-18 08:02:00,1,D3830655 Oostbuis 2 Alle camera's beperkt zich...,NaN,NaN,NaN,NaN,NaN,...,NaN,16-01-18 03:24:00,NaN,NaN,NaN,NaN,False,NaN,NaN,CT1EN2
15,1202192,SLUIT,19-01-18 14:08:00,1,"D3830760 A10, Rechts, hm-paal 30.015 N-baan Ri...",C2138,"A10 TSG2 30,015PWn - Kast A10 TSG2 30,015PWn",41-26,MTM CT1-W2,NaN,...,NaN,20-01-18 00:52:00,NaN,NaN,NaN,NaN,False,NaN,NaN,CT1EN2
21,1202196,SLUIT,19-01-18 18:12:00,1,"D3830785 A10, Links, hm-paal 27,735. IM camera...",C2933,61CM0903 - Camera-PTZ-IM-A10W,61-11,CCTV VTTI station 4,NaN,...,NaN,20-01-18 00:49:00,NaN,NaN,NaN,NaN,False,NaN,NaN,CT1EN2
28,1205996,SLUIT,30-01-18 21:48:00,1,D3830955 ov sectie staat aan en die,C3212,21EE1081 - LED armatuur C2,21-01,Tunnelverlichting CT2-O1,1192.0,...,NaN,16-07-18 07:45:00,NaN,NaN,NaN,NaN,False,NaN,NaN,CT1EN2
29,1205999,SLUIT,30-01-18 16:46:00,1,D3830930 Vraag VCNWN verzoek zsm op te pakken,NaN,NaN,NaN,NaN,NaN,...,NaN,30-01-18 18:35:00,NaN,NaN,NaN,NaN,True,NaN,NaN,CT1EN2
33,1206129,SLUIT,04-02-18 18:11:00,2,"D3830995, geen overdruk pompenkelder westbuis",NaN,NaN,NaN,NaN,NaN,...,NaN,05-02-18 09:51:00,NaN,NaN,NaN,NaN,False,NaN,NaN,CT1EN2
37,1206741,SLUIT,09-02-18 07:00:00,2,Eigen constatering Klep defect Koelmachine 1 DGN,C13008,71FJ6001 - Smoorklep koelmachine 1,71-01,Klimaatinstallatie DG-N,1297.0,...,NaN,09-02-18 09:00:00,NaN,NaN,NaN,NaN,False,NaN,NaN,CT1EN2
38,1206748,SLUIT,13-02-18 10:08:00,2,"D3831045 A10, Rechts, hm-paal 32.346 communica...",NaN,NaN,NaN,NaN,NaN,...,NaN,13-02-18 10:58:00,NaN,NaN,NaN,NaN,False,NaN,NaN,CT1EN2
39,1206749,SLUIT,13-02-18 10:00:00,2,eigen constatering storing geluidsbaken VD7 Oo...,C7970,67W0017 - OVT-O2-07 kast geluidsbakeninstallatie,67-03,Geluidsbakeninstallatie CT2-O2 MTK dienstgang,1220.0,...,NaN,13-02-18 11:00:00,NaN,NaN,NaN,NaN,False,NaN,NaN,CT1EN2
47,1212286,SLUIT,19-02-18 09:57:03,2,Vervangen lamp van mast N92C16,NaN,NaN,NaN,NaN,NaN,...,23-01-19 08:53:58,23-01-19 08:53:58,NaN,NaN,NaN,NaN,False,NaN,NaN,CT1EN2
53,1212292,SLUIT,19-02-18 09:58:36,2,Vervangen lamp van mast 86C10,NaN,NaN,NaN,NaN,NaN,...,23-01-19 08:53:58,23-01-19 08:53:58,NaN,NaN,NaN,NaN,False,NaN,NaN,CT1EN2
55,1215839,SLUIT,20-02-18 13:26:00,2,"D3831120 Nee, mevouw kan de vragen niet beantw...",NaN,NaN,NaN,NaN,NaN,...,NaN,20-02-18 13:30:00,NaN,NaN,NaN,NaN,True,NaN,NaN,CT1EN2
56,1215840,SLUIT,20-02-18 13:42:00,2,D3831130 communicatie verbroken met detector s...,NaN,NaN,NaN,NaN,NaN,...,NaN,20-02-18 15:46:00,NaN,NaN,NaN,NaN,False,NaN,NaN,CT1EN2
58,1215844,SLUIT,21-02-18 19:11:00,2,"D3831155 Oost 2, Cado niet beschikbaar.",C5485,"A10 CADO 29,280 BBR (CB) - CADO boom",46A-08,(CADO CT2-Z-01) A10 29.280 BBR,NaN,...,NaN,22-02-18 00:18:00,NaN,NaN,NaN,NaN,False,NaN,NaN,CT1EN2
61,1215847,SLUIT,22-02-18 07:46:00,2,D3831190 CCTV installatie: dbos voorwaarschuwi...,NaN,NaN,NaN,NaN,NaN,...,NaN,22-02-18 11:04:00,NaN,NaN,NaN,NaN,True,NaN,NaN,CT1EN2
68,1215856,SLUIT,22-02-18 16:22:00,2,D3831250 Betreft : SPS-camera heeft PTZ- probleem,NaN,NaN,NaN,NaN,NaN,...,NaN,22-02-18 17:22:00,NaN,NaN,NaN,NaN,True,NaN,NaN,CT1EN2
70,1215858,SLUIT,22-02-18 13:51:00,2,"D3831245 A10, , hm-paal 29.03 Meneer belt over...",NaN,NaN,NaN,NaN,NaN,...,NaN,26-02-18 15:12:00,NaN,NaN,NaN,NaN,True,NaN,NaN,CT1EN2
73,1215892,SLUIT,27-02-18 07:59:00,2,"D3831300 A10, , hm-paal 29.438. A10N van 29.43...",NaN,NaN,NaN,NaN,NaN,...,NaN,27-02-18 10:39:00,NaN,NaN,NaN,NaN,True,NaN,NaN,CT1EN2
78,1215957,SLUIT,04-03-18 17:21:00,3,D3831370 slagboom naar circuit van tunnel.Noor...,C1296,AB-CT1-N-05 (BK/HK) - Besturings-/hydrauliekkast,45-05,(AB CT1-N-05) Dienstweg dienstgebouwen Coentun...,NaN,...,NaN,04-03-18 17:35:00,NaN,NaN,NaN,NaN,False,NaN,NaN,CT1EN2
79,1215953,SLUIT,03-03-18 12:06:00,3,D3831350 Betreft : Brandblus installatie niet ...,C8168,51EY2301 - Expansievat,51 EN 53-06,Brandblusinstallatie tunnel en hulpposten EG,1167.0,...,NaN,03-03-18 13:45:00,NaN,NaN,NaN,NaN,False,NaN,NaN,CT1EN2
83,1215967,SLUIT,12-03-18 07:51:08,3,Diverse installaties niet beschikbaar tijdens ...,NaN,NaN,NaN,NaN,NaN,...,NaN,07-03-18 05:00:00,NaN,NaN,NaN,NaN,False,NaN,NaN,CT1EN2
87,1215971,SLUIT,11-03-18 22:23:00,3,"D3831460 A8, , hm-paal 1.625. A8 F Fatale fout...",C2611,"A08 MSG1 1,625VWf - Kast A08 MSG1 1,625VWf por...",41-18,MTM VTTI station 13,NaN,...,NaN,12-03-18 00:03:00,NaN,NaN,NaN,NaN,False,NaN,NaN,CT1EN2
88,1216275,SLUIT,18-03-18 11:57:00,3,"D3831480, Storing SOS",C14954,"A10 luspaar 1_1 29,030 R5 O2 - A10 luspaar 1_...",43-05,SOS/SDS CT2-O2,NaN,...,NaN,18-03-18 13:33:00,NaN,NaN,NaN,NaN,False,NaN,NaN,CT1EN2
91,1232539,SLUIT,20-03-18 15:52:00,3,"D3831510 A10, Rechts, hm-paal 30.8. Buis Oost ...",NaN,NaN,NaN,NaN,NaN,...,NaN,20-03-18 16:08:00,NaN,NaN,NaN,NaN,False,NaN,NaN,CT1EN2
97,1232609,SLUIT,28-03-18 22:03:00,3,"D3831560, A10 hmp 30.9, contraboom aangereden",C1321,A10 AB 30.900z MB (AB) - Afsluitboom,45-10,(AB CT2-N-04) A08 Tidal flow 1,NaN,...,NaN,29-03-18 14:13:00,NaN,NaN,NaN,NaN,True,NaN,NaN,CT1EN2

In [106]:
totaal_aantal_storingen = len(storingen_df)
print(f'Het totaal aantal storingen in 2020: {totaal_aantal_storingen} meldingen')

Het totaal aantal storingen in 2020: 29 meldingen

In [107]:
storingen_per_maand = storingen_df['month_number'].value_counts()
storingen_per_maand

2    13
1     9
3     7
Name: month_number, dtype: int64

In [110]:
num_maand_meeste_storingen = [storingen_per_maand.index[storingen_per_maand == max(storingen_per_maand)][0]]
print(f'Hoogste aantal storingen in de maand [met nummer] {num_maand_meeste_storingen[0]}') if len(num_maand_meeste_storingen) == 1 else print(f'Hoogste aantal storingen in de maanden [met nummer] {num_maand_meeste_storingen}')

Hoogste aantal storingen in de maand [met nummer] 2

In [111]:
num_maand_min_storingen = [storingen_per_maand.index[storingen_per_maand == min(storingen_per_maand)][0]]
print(f'Laagste aantal storingen in de maand [met nummer] {num_maand_min_storingen[0]}') if len(num_maand_min_storingen) == 1 else print(f'Laagste aantal storingen in de maanden [met nummer] {num_maand_min_storingen}')

Laagste aantal storingen in de maand [met nummer] 3

**De dataset storingen_df is niet toereikend genoeg om het gemiddelde aantal meldingen per maand sinds de start van het project te geven. Ook beschikt de dataset niet over de data voor het opstellen van de TOV-tabel (Ten Opzichte Van-tabel)**

## Aantal storingen per deelinstallatie

Variabelen die opgehaald moeten worden:

|naam DI|aantal storingen|% van totaal aantal storingen|
|-------|----------------|-----------------------------|

In totaal hebben X deelsystemen één of meerdere storingen gehad in 2020.

In [112]:
storingen_per_di = storingen_df['sbs'].value_counts()  # value_counts(dropna=False) geeft ook NaN + count in df (default True)
storingen_per_di

41-26          1
86-22          1
45-05          1
61-11          1
41-18          1
51 EN 53-06    1
45-02          1
43-05          1
45-10          1
46A-08         1
21-01          1
71-01          1
67-03          1
Name: sbs, dtype: int64

In [113]:
aantal_storingen_zonder_di = totaal_aantal_storingen - sum(storingen_per_di)
aantal_storingen_zonder_di

16

In [115]:
for index, value in storingen_per_di.iteritems():
    percentage_storing = round((value / sum(storingen_per_maand)) * 100, 4)
    print('-'*40)
    print(f"{get_breakdown_description(index)[0]}\t- {value} meldingen ({percentage_storing}% van het totale aantal meldingen)")

----------------------------------------
MTM CT1-W2	- 1 meldingen (3.4483% van het totale aantal meldingen)
----------------------------------------
Besturingssysteem VG-N	- 1 meldingen (3.4483% van het totale aantal meldingen)
----------------------------------------
(AB CT1-N-05) Dienstweg dienstgebouwen Coentunnel Circuit	- 1 meldingen (3.4483% van het totale aantal meldingen)
----------------------------------------
CCTV VTTI station 4	- 1 meldingen (3.4483% van het totale aantal meldingen)
----------------------------------------
MTM VTTI station 13	- 1 meldingen (3.4483% van het totale aantal meldingen)
----------------------------------------
Brandblusinstallatie tunnel en hulpposten EG	- 1 meldingen (3.4483% van het totale aantal meldingen)
----------------------------------------
(AB CT1-N-02A/02B) CT1-W2 hoofdrijbaan	- 1 meldingen (3.4483% van het totale aantal meldingen)
----------------------------------------
SOS/SDS CT2-O2	- 1 meldingen (3.4483% van het totale aantal meldingen)
----------------------------------------
(AB CT2-N-04) A08 Tidal flow 1	- 1 meldingen (3.4483% van het totale aantal meldingen)
----------------------------------------
(CADO CT2-Z-01) A10 29.280 BBR	- 1 meldingen (3.4483% van het totale aantal meldingen)
----------------------------------------
Tunnelverlichting CT2-O1	- 1 meldingen (3.4483% van het totale aantal meldingen)
----------------------------------------
Klimaatinstallatie DG-N	- 1 meldingen (3.4483% van het totale aantal meldingen)
----------------------------------------
Geluidsbakeninstallatie CT2-O2 MTK dienstgang	- 1 meldingen (3.4483% van het totale aantal meldingen)

In [116]:
print(f'In totaal hebben {len(storingen_per_di)} deelsystemen één of meerdere storingen gehad in 2020.')

In totaal hebben 13 deelsystemen één of meerdere storingen gehad in 2020.

# Conclusie / Aanbeveling

Hier is het kopje uit de storingsanalyse van de coentunnel overgenomen.

## Algemeen
Voor probleem, oorzaak, en oplossing moet een tabel gegenereerd worden met de volgende data erin.

|Code|Beschrijving code|Count in huidige kwartaal (Q)|Count totaal|Gemiddelde Count per Q|
|----|-----------------|-----------------------------|------------|----------------------|

beschrijving code doelt hier op de categorie waar de code voor staat, DUS NIET DE OMSCHRIJVING UIT SF_DATA.

### Probleem
Hier wordt een overzicht gepresenteerd van de verschillende probleem codes die zijn gekozen bij de meldingen.

In [136]:
probleem_code_count = sf_data['probleemcode'].value_counts(dropna=False)
probleem_code_count

P04    15
P09    13
P08    10
P03    10
NaN    10
P10     9
P11     9
P01     6
P06     5
P05     5
P02     5
P07     2
Name: probleemcode, dtype: int64

### Oorzaak
Hier wordt een overzicht gepresenteerd van de verschillende oorzaak codes die zijn gekozen bij de meldingen.

In [137]:
oorzaak_code_count = sf_data['oorzaak code'].value_counts(dropna=False)
oorzaak_code_count

C01    9
C08    9
C06    9
C16    8
C04    8
C11    7
C07    7
C09    7
C12    6
C10    5
C14    5
C03    5
C15    4
C05    4
C02    3
C13    3
Name: oorzaak code, dtype: int64

### Oplossing
Hier wordt een overzicht gepresenteerd van de verschillende oplossing codes die zijn gekozen bij de meldingen.

In [139]:
oplos_code_count = sf_data['oplos code'].value_counts(dropna=False)
oplos_code_count

S08    16
S05    13
NaN    13
S01    12
S03    11
S02    11
S04    10
S07     7
S06     6
Name: oplos code, dtype: int64